In [29]:
import numpy as np
import pandas as pd
import seaborn as sns
from statsmodels.formula.api import ols
import statsmodels.api as sm
from scipy.stats import chi2_contingency

In [30]:
data = pd.read_csv('smoking.csv')
data.head()

,ID,gender,age,height(cm),weight(kg),waist(cm),eyesight(left),eyesight(right),hearing(left),hearing(right),...,hemoglobin,Urine protein,serum creatinine,AST,ALT,Gtp,oral,dental caries,tartar,smoking
0,0,F,40,155,60,81.3,1.2,1.0,1.0,1.0,...,12.9,1.0,0.7,18.0,19.0,27.0,Y,0,Y,0
1,1,F,40,160,60,81.0,0.8,0.6,1.0,1.0,...,12.7,1.0,0.6,22.0,19.0,18.0,Y,0,Y,0
2,2,M,55,170,60,80.0,0.8,0.8,1.0,1.0,...,15.8,1.0,1.0,21.0,16.0,22.0,Y,0,N,1
3,3,M,40,165,70,88.0,1.5,1.5,1.0,1.0,...,14.7,1.0,1.0,19.0,26.0,18.0,Y,0,Y,0
4,4,F,40,155,60,86.0,1.0,1.0,1.0,1.0,...,12.5,1.0,0.6,16.0,14.0,22.0,Y,0,N,0

In [31]:
data.rename(columns={'height(cm)': 'height', 'weight(kg)' : 'weight', 'waist(cm)' : 'waist', 'eyesight(left)' : 'eyesightleft', 'eyesight(right)' : 'eyesightright', 
                     'hearing(left)' : 'hearingleft', 'hearing(right)' : 'hearingright', 'fasting blood sugar' : 'fastingbloodsugar',
                    'Urine protein' : 'urineprotein', 'serum creatinine' : 'serumcreatinine', 'dental caries' : 'dentalcaries'}, inplace=True)
data.head()

,ID,gender,age,height,weight,waist,eyesightleft,eyesightright,hearingleft,hearingright,...,hemoglobin,urineprotein,serumcreatinine,AST,ALT,Gtp,oral,dentalcaries,tartar,smoking
0,0,F,40,155,60,81.3,1.2,1.0,1.0,1.0,...,12.9,1.0,0.7,18.0,19.0,27.0,Y,0,Y,0
1,1,F,40,160,60,81.0,0.8,0.6,1.0,1.0,...,12.7,1.0,0.6,22.0,19.0,18.0,Y,0,Y,0
2,2,M,55,170,60,80.0,0.8,0.8,1.0,1.0,...,15.8,1.0,1.0,21.0,16.0,22.0,Y,0,N,1
3,3,M,40,165,70,88.0,1.5,1.5,1.0,1.0,...,14.7,1.0,1.0,19.0,26.0,18.0,Y,0,Y,0
4,4,F,40,155,60,86.0,1.0,1.0,1.0,1.0,...,12.5,1.0,0.6,16.0,14.0,22.0,Y,0,N,0

In [4]:
#ANOVA test
model = ols('age ~ smoking', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                sum_sq       df            F  PR(>F)
smoking   2.144429e+05      1.0  1511.533598     0.0
Residual  7.900801e+06  55690.0          NaN     NaN

In [5]:
model = ols('height ~ smoking', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                sum_sq       df             F  PR(>F)
smoking   7.408336e+05      1.0  10399.223169     0.0
Residual  3.967318e+06  55690.0           NaN     NaN

In [6]:
model = ols('weight ~ smoking', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                sum_sq       df            F  PR(>F)
smoking   8.391431e+05      1.0  5620.701741     0.0
Residual  8.314243e+06  55690.0          NaN     NaN

In [32]:
model = ols('waist ~ smoking', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                sum_sq       df            F  PR(>F)
smoking   2.452183e+05      1.0  3004.777441     0.0
Residual  4.544832e+06  55690.0          NaN     NaN

In [7]:
model = ols('eyesightleft ~ smoking', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                sum_sq       df           F        PR(>F)
smoking      49.450497      1.0  209.392369  2.272557e-47
Residual  13151.855535  55690.0         NaN           NaN

In [8]:
model = ols('eyesightright ~ smoking', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                sum_sq       df           F        PR(>F)
smoking      52.228336      1.0  222.033001  4.070650e-50
Residual  13099.836656  55690.0         NaN           NaN

In [9]:
model = ols('hearingleft ~ smoking', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

              sum_sq       df          F        PR(>F)
smoking      0.74792      1.0  30.012925  4.310291e-08
Residual  1387.79038  55690.0        NaN           NaN

In [10]:
model = ols('hearingright ~ smoking', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

               sum_sq       df          F    PR(>F)
smoking      0.504090      1.0  19.805388  0.000009
Residual  1417.430551  55690.0        NaN       NaN

In [11]:
model = ols('systolic ~ smoking', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                sum_sq       df           F        PR(>F)
smoking   5.567356e+04      1.0  299.261728  7.140976e-67
Residual  1.036036e+07  55690.0         NaN           NaN

In [12]:
model = ols('relaxation ~ smoking', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                sum_sq       df           F         PR(>F)
smoking   6.120728e+04      1.0  661.049767  6.221085e-145
Residual  5.156394e+06  55690.0         NaN            NaN

In [13]:
model = ols('fastingbloodsugar ~ smoking', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                sum_sq       df           F         PR(>F)
smoking   2.421831e+05      1.0  565.695615  2.030200e-124
Residual  2.384176e+07  55690.0         NaN            NaN

In [14]:
model = ols('Cholesterol ~ smoking', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                sum_sq       df          F        PR(>F)
smoking   5.979926e+04      1.0  45.423244  1.602803e-11
Residual  7.331535e+07  55690.0        NaN           NaN

In [15]:
model = ols('triglyceride ~ smoking', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                sum_sq       df           F  PR(>F)
smoking   1.812183e+07      1.0  3769.92325     0.0
Residual  2.676990e+08  55690.0         NaN     NaN

In [16]:
model = ols('HDL ~ smoking', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                sum_sq       df            F  PR(>F)
smoking   3.853456e+05      1.0  1832.174487     0.0
Residual  1.171280e+07  55690.0          NaN     NaN

In [17]:
model = ols('LDL ~ smoking', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                sum_sq       df           F        PR(>F)
smoking   1.907481e+05      1.0  114.112366  1.306645e-26
Residual  9.309037e+07  55690.0         NaN           NaN

In [18]:
model = ols('hemoglobin ~ smoking', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                 sum_sq       df             F  PR(>F)
smoking    21883.933651      1.0  10650.466395     0.0
Residual  114428.440952  55690.0           NaN     NaN

In [19]:
model = ols('urineprotein ~ smoking', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

               sum_sq       df          F   PR(>F)
smoking      1.858317      1.0  11.338162  0.00076
Residual  9127.553932  55690.0        NaN      NaN

In [20]:
model = ols('serumcreatinine ~ smoking', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

               sum_sq       df            F  PR(>F)
smoking    128.467873      1.0  2746.977732     0.0
Residual  2604.453525  55690.0          NaN     NaN

In [21]:
model = ols('AST ~ smoking', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                sum_sq       df           F        PR(>F)
smoking   7.325137e+04      1.0  196.213305  1.666700e-44
Residual  2.079048e+07  55690.0         NaN           NaN

In [22]:
model = ols('ALT ~ smoking', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                sum_sq       df           F         PR(>F)
smoking   5.053714e+05      1.0  532.692089  2.612509e-117
Residual  5.283378e+07  55690.0         NaN            NaN

In [23]:
model = ols('Gtp ~ smoking', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

                sum_sq       df            F  PR(>F)
smoking   7.885996e+06      1.0  3302.926214     0.0
Residual  1.329642e+08  55690.0          NaN     NaN

In [73]:
lst = ['age', 'height', 'weight']

for item in lst:
    mod = ols('{} ~ smoking'.format(item), data= data).fit()
    aov_table = sm.stats.anova_lm(mod, typ=2)
    print(aov_table)

                sum_sq       df            F  PR(>F)
smoking   2.144429e+05      1.0  1511.533598     0.0
Residual  7.900801e+06  55690.0          NaN     NaN
                sum_sq       df             F  PR(>F)
smoking   7.408336e+05      1.0  10399.223169     0.0
Residual  3.967318e+06  55690.0           NaN     NaN
                sum_sq       df            F  PR(>F)
smoking   8.391431e+05      1.0  5620.701741     0.0
Residual  8.314243e+06  55690.0          NaN     NaN

In [25]:
data = ['oral']
stat, p, dof, expected = chi2_contingency(data)
alpha = np.int64(0.05)
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

TypeError: '<' not supported between instances of 'numpy.ndarray' and 'int'

In [27]:
chisqt = pd.crosstab(data.gender, data.oral, margins=True)
value = np.array([chisqt.iloc[0][0:5].values,
                  chisqt.iloc[1][0:5].values])
print(chi2_contingency(value)[0:3])

AttributeError: 'list' object has no attribute 'gender'